{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    {% block extrastatic %} {% endblock %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <meta charset="UTF-8">
    <title>{% block title %} Document {% endblock %}</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Jost:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body>
    {% block navbar %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="{% url 'home' %}">Home</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav mr-auto">
                
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">Mascotas
                        <span class="caret"></span>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="themes">
                        <a class="dropdown-item" href="{% url 'mascota_crear' %}">Registrar</a>
                        <a class="dropdown-item" href="{% url 'mascota_lista' %}">Listado</a>
                        {% if  perms.mascota.add_vacuna%}
                        <a class="dropdown-item" href="{% url 'vacuna_nueva' %}">Registrar Vacuna</a>
                        {% endif %}
                    </div>
                </li>
                

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">Adopciones
                        <span class="caret"></span>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="download">
                        <a class="dropdown-item" href="{% url 'solicitud_crear' %}">Solicitar</a>
                        
                        <a class="dropdown-item" href="{% url 'solicitud_listado' %}">Listado de solicitudes</a>
                        
                    </div>
                </li>

                {% if  perms.auth.view_user%}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">Reportes
                        <span class="caret"></span>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="download">
                        <a class="dropdown-item" href="{% url 'usuario_listado' %}" target="_blank">Listado de usuarios</a>
                        <a class="dropdown-item" href="{% url 'mascotapdf' %}" target="_blank">Listado de mascotas PDF</a>
                    </div>
                </li>
                {% endif %}

            </ul>
            
            <ul class="nav navbar-nav ml-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" id="download"> {% if user.is_authenticated %}
                        <p> Bienvenido, <b>{{user}} </b> </p> 
                    {% endif %} Opciones
                        <span class="caret"></span>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="download">
                        
                        <a class="dropdown-item" href="{% url 'logout' %}">Salir</a>
                        <a class="dropdown-item" href="{% url 'usuario_perfil' %}">Mi Perfil</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
    {% endblock %}

    <div class="container">
        {% block content %}
           
        {% endblock %} 
        {% block footer %} 
        {% endblock%}
    </div>

    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/@popperjs/core@2/dist/umd/popper.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    {% block extrajs %} {% endblock %}
</body>

</html>