{% extends 'base/base.html' %} 

{% block title %}
        Listado de Usuario
{% endblock %}

{% block navbar %}
{% endblock %}

{% block content %}

        
<br>
<h1>Listado de Usuarios</h1>
<table class="table table-hover">
        <thead>
                <tr>
                        
                    <th>Usuario</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Email</th>
                        
                </tr>
        </thead>
        <tbody>
                {% if usuarios %} {% for user in usuarios  %}
                <tr>
                    
                    <td>{{user.username}}</td>
                    <td>{{user.first_name}}</td>
                    <td>{{user.last_name}}</td>
                    <td>{{user.email}}</td>
                        
                </tr>
                {% endfor %} {% else %}
                <h1>No hay registros de Usuarios</h1>

                {% endif %}
        </tbody>
</table>

<a class="btn btn-secondary" href="{% url 'usuariopdf' %}">Imprimir Reporte</a>


{% endblock %}